* {
  color: red;
}
.App {
  text-align: center;
  
}

.links{
  color: rgb(20, 20, 20);
  font-size: x-large;
}
.links:hover{
  border-bottom: 2px solid rgb(20, 20, 20);
}
.links:active{
  color: red;
  font-weight: 600;
  border-bottom: 2px solid red;
}
.links:focus{
  color: red;
  font-weight: 600;
  border-bottom: 3px solid red;
}