* {
  color: red;
}
.App {
  text-align: center;
}

.title{
  font-size: 18pt;
  font-weight: 600;
}

.links {
  margin: auto 10px;
  font-size: 11pt;
  color: rgb(20, 20, 20);
  /* font-size: x-large; */
}
.links:hover {
  border-bottom: 2px solid rgb(20, 20, 20);
}
.links:active {
  color: red;
  font-weight: 600;
  border-bottom: 2px solid red;
}
.links:focus {
  color: red;
  font-weight: 600;
  border-bottom: 3px solid red;
}

.blog-card {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 25px 15px;
  padding: 20px;
}

.blog-quote {
  width: 80%;
  margin: 40px auto;
  font-size: 18pt;
}

.MuiCardHeader-title {
  font-size: 14pt !important;
  font-weight: 700 !important;
}

@media only screen and (min-width: 500px) {
  .blog-quote {
    width: 80%;
    margin: 40px auto;
    font-size: 28pt;
  }
  .title{
    font-size: 22pt;
    font-weight: 600;
  }
  .links {
    margin: auto 5px;
    font-size: 14pt;
    color: rgb(20, 20, 20);
  }
}

@media only screen and (min-width: 745px) {
  .blog-quote {
    font-size: 36pt;
    width: 700px;
  }
  .blog-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 25px 15px;
  }
  .title{
    font-size: 28pt;
    font-weight: 600;
  }
  .links {
    margin: auto 5px;
    font-size: 18pt;
    color: rgb(20, 20, 20);
  }
}
@media only screen and (min-width: 1100px) {
  .blog-card {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px 15px;
  }
  .title{
    font-size: 30pt;
    font-weight: 600;
  }
  .links {
    margin: auto 5px;
    font-size: 20pt;
    color: rgb(20, 20, 20);
  }
}
